*, *:after, *:before {
  box-sizing: border-box;
}
.container {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
[class*='grid-'] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.grid-sm-12 {
  width: 100%;
}
.grid-sm-11 {
  width: 91.666%;
}
.grid-sm-10 {
  width: 83.333%;
}
.grid-sm-9 {
  width: 75%; 
}
.grid-sm-8 {
  width: 66.666%;
}
.grid-sm-7 {
  width: 58.333%;
}
.grid-sm-6 {
  width: 50%;
}
.grid-sm-5 {
  width: 41.666%
}
.grid-sm-4 {
  width: 33.333%;
}
.grid-sm-3 {
  width: 25%;
}
.grid-sm-2 {
  width: 16.666%;
}
.grid-sm-1 {
  width: 08.333%;
}
@media screen and (min-width: 992px) {
  .grid-lg-12 {
    width: 100%;
  }
  .grid-lg-11 {
    width: 91.666%;
  }
  .grid-lg-10 {
    width: 83.333%;
  }
  .grid-lg-9 {
    width: 75%; 
  }
  .grid-lg-8 {
    width: 66.666%;
  }
  .grid-lg-7 {
    width: 58.333%;
  }
  .grid-lg-6 {
    width: 50%;
  }
  .grid-lg-5 {
    width: 41.666%
  }
  .grid-lg-4 {
    width: 33.333%;
  }
  .grid-lg-3 {
    width: 25%;
  }
  .grid-lg-2 {
    width: 16.666%;
  }
  .grid-lg-1 {
    width: 08.333%;
  }
}
