html {
  font-size: 16px;
}
body {
  background-color: #fdfdfd;
}
header {
  padding-top: 50px;
}
.logo,
.primary-nav,
.cart-icon {
  padding-top: 12px;
  padding-bottom: 12px;
}
.logo {
  border-right: 1px solid #e1e1e1;
}
.primary-nav {
  margin-left: 20px;
}
.primary-nav ul li {  
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  float: left;
  margin-right: 30px;
}
.primary-nav ul li a {
  text-decoration: none;
  color: #7f7f7f;
}
.primary-nav ul li a:hover {
  color: #f54d56;
}
.cart-icon {
  color: #7f7e7e;
  border: 2px solid #7f7e7e;
  text-align: center;
  border-radius: 15px;
}
/*slider styles*/
.slider {
  width: 100%;
  max-height: 430px;
  overflow: hidden;
  position: relative;
}
.slider li .slider-content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  background-color: yellow;
}


/*slider's css*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  max-height: 430px;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

