html {
  font-size: 16px;
}
body {
  background-color: #fdfdfd;
}
#header {
  padding-top: 50px;
  margin-bottom: 30px;
}
.logo,
.primary-nav,
.cart-icon {
  padding-top: 12px;
  padding-bottom: 12px;
}
.logo {
  border-right: 1px solid #e1e1e1;
}
.primary-nav {
  margin-left: 20px;
}
.primary-nav ul li {  
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  float: left;
  margin-right: 30px;
}
.primary-nav ul li a {
  text-decoration: none;
  color: #7f7f7f;
}
.primary-nav ul li a:hover {
  color: #f54d56;
}
.cart-icon {
  color: #7f7e7e;
  border: 2px solid #7f7e7e;
  text-align: center;
  border-radius: 15px;
}
/*slider styles*/
.slider {
  width: 100%;
  max-height: 430px;
  overflow: hidden;
  position: relative;
}
.slider li .slider-content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
.slider-main-title,
.slider-sub-title {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.slider-main-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.slider-sub-title {
  font-size: 1.375rem;
  font-weight: 300;
  letter-spacing: 2.45px;
  margin-bottom: 40px;
}
.slider-btn {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #65889b;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  padding: 20px 50px;
  display: inline-block;
  transition: all .5s ease-in-out;
}
.slider-btn:hover{
  background-color: #65889b;
  color: #fff;
}



/*slider's css*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  max-height: 430px;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.main-content {
  padding-top: 60px;
}
.section-heading {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  color: #656363;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  text-align: center;
  margin-bottom: 40px;
}
.product-row {
	margin-bottom: 60px;
}
.product {
  border: 4px solid #f7f6f6;
  padding: 25px;
  text-align: center;
  position: relative;
}
.discount-tag {
  background-color: #f54d56;
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  position: absolute;
	padding: 15px;
	border-left: 4px solid #de3841;
	top: 30px;
	left: -4px;

}
.product img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}
.product-title {
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
  color: #717171;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10px;
}
.price {
  font-family: 'Open sans', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #717171;
}
.price sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

