html {
  font-size: 16px;
}
body {
}
header {
  padding-top: 50px;
}
.logo,
.primary-nav {
  padding-top: 12px;
  padding-bottom: 12px;
}
.logo {
  border-right: 1px solid #e1e1e1;
}
.primary-nav {
  margin-left: 20px;
}
.primary-nav ul li {  
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  float: left;
  margin-right: 30px;
}
.primary-nav ul li a {
  text-decoration: none;
  color: #7f7f7f;
}
.primary-nav ul li a:hover {
  color: #f54d56;
}


